# Root ignore
node_modules/
**/node_modules/

# Build outputs
**/dist/
**/.output/
**/build/

# Env files
.env

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Database
*.sqlite

# Go
**/*.exe
**/*.test
**/*.out

# Uploads
**/uploads/
